In [26]:
#Dependencies
import pandas as pd
import numpy as np
import os

In [34]:
#Source data files
school_data = os.path.join('.\Resources','schools_complete.csv')
student_data = os.path.join('.\Resources','students_complete.csv')

In [35]:
#Read in csv data
load_school = pd.read_csv(school_data)
load_student = pd.read_csv(student_data)

In [41]:
load_school.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [44]:
#Total number of schools
num_schools = load_school['school_name'].count()
#num_schools = load_school.count(axis='columns')
print(num_schools)

15

In [48]:
#Total District Budget
total_budget = load_school['budget'].sum()
#print(total_budget)

24649428

In [36]:
load_student.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [47]:
#Number of students
num_students = load_student['student_name'].count()
print(num_students)

39170

In [57]:
#Average math score
#avg_math = load_student['math_score'].mean()
#print(avg_math)
#Average reading score
#avg_read = load_student['reading_score'].mean()
#print(avg_read)
avg_both = load_student.mean()
#print(avg_both)
print(avg_both.iloc[1:3])

reading_score    81.877840
math_score       78.985371
dtype: float64

In [72]:
#Percent passing math and reading
prcnt_pass_read = load_student.loc[load_student['reading_score'] >= 70,['student_name']].count()/num_students
#format it later
print(prcnt_pass_read)
#rename column
prcnt_pass_read.rename('student_name'='percent_pass')
print(prcnt_pass_read)

SyntaxError: keyword can't be an expression (<ipython-input-72-76a8e52785d2>, line 5)

In [38]:
#Merge two data sets based on school_name column
all_data = load_student.merge(load_school,on='school_name',how='inner')
all_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635