In [5]:
#Dependencies
import pandas as pd
import numpy as np
import os

In [6]:
#Source data files
school_data = os.path.join('.\Resources','schools_complete.csv')
student_data = os.path.join('.\Resources','students_complete.csv')

In [7]:
#Read in csv data
load_school = pd.read_csv(school_data)
load_student = pd.read_csv(student_data)

In [8]:
load_school.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [9]:
#Total number of schools
num_schools = load_school['school_name'].count()
#num_schools = load_school.count(axis='columns')
print(num_schools)

15

In [10]:
#Total District Budget
total_budget = load_school['budget'].sum()
#print(total_budget)

In [11]:
load_student.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [12]:
#Number of students
num_students = load_student['student_name'].count()
print(num_students)

39170

In [13]:
#Average math score
#avg_math = load_student['math_score'].mean()
#print(avg_math)
#Average reading score
#avg_read = load_student['reading_score'].mean()
#print(avg_read)
avg_both = load_student.mean()
#print(avg_both)
print(avg_both.iloc[1:3])

reading_score    81.877840
math_score       78.985371
dtype: float64

In [14]:
#Percent passing reading
prcnt_pass_read = load_student.loc[load_student['reading_score'] >= 70,'student_name'].count()/num_students
#format it later
print(f"{round(prcnt_pass_read,3)*100}%")
#rename column
#percent_pass = prcnt_pass_read.rename(columns={'student_name':'percent_pass'})
#print(percent_pass)

85.8%

In [15]:
#Percent passing reading
prcnt_pass_math = load_student.loc[load_student['math_score'] >= 70,'student_name'].count()/num_students

print(f"{round(prcnt_pass_math,3)*100}%")

75.0%

In [16]:
#Overall pass rate
overall = round(((prcnt_pass_read + prcnt_pass_math)/2)*100,1)
print(f"{overall}%")

80.4%

In [17]:
#No duplicate schools
no_dups_df = load_school.drop_duplicates(subset='school_name',keep='first')
no_dups_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [18]:
#Add budget per student
no_dups_df['per_stu'] = no_dups_df['budget']/no_dups_df['size']
#set new index as school name
no_dups_df = no_dups_df.set_index('school_name')

In [19]:
#Merge two data sets based on school_name column
all_data = load_student.merge(load_school,on='school_name',how='inner')
all_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [20]:
#Generate df of mean scores
mean_scores = all_data.groupby('school_name').mean()
mean_scores.head()

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0

In [21]:
#Select columns and create new df
sub_mean_df = mean_scores[['reading_score','math_score']]
#Add mean columns to schools list
final_df = pd.concat([no_dups_df,sub_mean_df],axis=1,sort=True)
final_df

,School ID,type,size,budget,per_stu,reading_score,math_score
Bailey High School,7,District,4976,3124928,628.0,81.033963,77.048432
Cabrera High School,6,Charter,1858,1081356,582.0,83.975780,83.061895
Figueroa High School,1,District,2949,1884411,639.0,81.158020,76.711767
Ford High School,13,District,2739,1763916,644.0,80.746258,77.102592
Griffin High School,4,Charter,1468,917500,625.0,83.816757,83.351499
Hernandez High School,3,District,4635,3022020,652.0,80.934412,77.289752
Holden High School,8,Charter,427,248087,581.0,83.814988,83.803279
Huang High School,0,District,2917,1910635,655.0,81.182722,76.629414
Johnson High School,12,District,4761,3094650,650.0,80.966394,77.072464
Pena High School,9,Charter,962,585858,609.0,84.044699,83.839917
Rodriguez High School,11,District,3999,2547363,637.0,80.744686,76.842711
Shelton High School,2,Charter,1761,1056600,600.0,83.725724,83.359455
Thomas High School,14,Charter,1635,1043130,638.0,83.848930,83.418349
Wilson High School,5,Charter,2283,1319574,578.0,83.989488,83.274201
Wright High School,10,Charter,1800,1049400,583.0,83.955000,83.682222

In [22]:
#Get percent passing reading and math

pass_df = all_data.groupby('school_name')[['reading_score','math_score']].apply(lambda x: (x >= 70).sum()).reset_index()
#df11=df.groupby('key1')['key2'].apply(lambda x: (x=='one').sum()).reset_index(name='count')
pass_df = pass_df.set_index(['school_name'])
pass_df['math_%_pass'] = round((pass_df['math_score']/final_df['size'])*100,1)
pass_df['read_%_pass'] = round((pass_df['reading_score']/final_df['size'])*100,1)   
pass_df

                       reading_score  math_score  math_%_pass  read_%_pass
school_name
Bailey High School              4077        3318         66.7         81.9
Cabrera High School             1803        1749         94.1         97.0
Figueroa High School            2381        1946         66.0         80.7
Ford High School                2172        1871         68.3         79.3
Griffin High School             1426        1371         93.4         97.1
Hernandez High School           3748        3094         66.8         80.9
Holden High School               411         395         92.5         96.3
Huang High School               2372        1916         65.7         81.3
Johnson High School             3867        3145         66.1         81.2
Pena High School                 923         910         94.6         95.9
Rodriguez High School           3208        2654         66.4         80.2
Shelton High School             1688        1653         93.9         95.9
Thomas High School              1591        1525         93.3         97.3
Wilson High School              2204        2143         93.9         96.5
Wright High School              1739        1680         93.3         96.6

In [23]:
#Select columns and create new df
sub_prcnt_df = pass_df[['math_%_pass','read_%_pass']]
#Add mean columns to schools list
final_school_df = pd.concat([final_df,sub_prcnt_df],axis=1,sort=True)
final_school_df

,School ID,type,size,budget,per_stu,reading_score,math_score,math_%_pass,read_%_pass
school_name,,,,,,,,,
Bailey High School,7,District,4976,3124928,628.0,81.033963,77.048432,66.7,81.9
Cabrera High School,6,Charter,1858,1081356,582.0,83.975780,83.061895,94.1,97.0
Figueroa High School,1,District,2949,1884411,639.0,81.158020,76.711767,66.0,80.7
Ford High School,13,District,2739,1763916,644.0,80.746258,77.102592,68.3,79.3
Griffin High School,4,Charter,1468,917500,625.0,83.816757,83.351499,93.4,97.1
Hernandez High School,3,District,4635,3022020,652.0,80.934412,77.289752,66.8,80.9
Holden High School,8,Charter,427,248087,581.0,83.814988,83.803279,92.5,96.3
Huang High School,0,District,2917,1910635,655.0,81.182722,76.629414,65.7,81.3
Johnson High School,12,District,4761,3094650,650.0,80.966394,77.072464,66.1,81.2
Pena High School,9,Charter,962,585858,609.0,84.044699,83.839917,94.6,95.9
Rodriguez High School,11,District,3999,2547363,637.0,80.744686,76.842711,66.4,80.2
Shelton High School,2,Charter,1761,1056600,600.0,83.725724,83.359455,93.9,95.9
Thomas High School,14,Charter,1635,1043130,638.0,83.848930,83.418349,93.3,97.3
Wilson High School,5,Charter,2283,1319574,578.0,83.989488,83.274201,93.9,96.5
Wright High School,10,Charter,1800,1049400,583.0,83.955000,83.682222,93.3,96.6

In [24]:
#Add overall passing based on % math and % read passing
final_school_df['overall_pass'] = (final_school_df['math_%_pass'] + final_school_df['read_%_pass'])/2
final_school_df

,School ID,type,size,budget,per_stu,reading_score,math_score,math_%_pass,read_%_pass,overall_pass
school_name,,,,,,,,,,
Bailey High School,7,District,4976,3124928,628.0,81.033963,77.048432,66.7,81.9,74.30
Cabrera High School,6,Charter,1858,1081356,582.0,83.975780,83.061895,94.1,97.0,95.55
Figueroa High School,1,District,2949,1884411,639.0,81.158020,76.711767,66.0,80.7,73.35
Ford High School,13,District,2739,1763916,644.0,80.746258,77.102592,68.3,79.3,73.80
Griffin High School,4,Charter,1468,917500,625.0,83.816757,83.351499,93.4,97.1,95.25
Hernandez High School,3,District,4635,3022020,652.0,80.934412,77.289752,66.8,80.9,73.85
Holden High School,8,Charter,427,248087,581.0,83.814988,83.803279,92.5,96.3,94.40
Huang High School,0,District,2917,1910635,655.0,81.182722,76.629414,65.7,81.3,73.50
Johnson High School,12,District,4761,3094650,650.0,80.966394,77.072464,66.1,81.2,73.65
Pena High School,9,Charter,962,585858,609.0,84.044699,83.839917,94.6,95.9,95.25
Rodriguez High School,11,District,3999,2547363,637.0,80.744686,76.842711,66.4,80.2,73.30
Shelton High School,2,Charter,1761,1056600,600.0,83.725724,83.359455,93.9,95.9,94.90
Thomas High School,14,Charter,1635,1043130,638.0,83.848930,83.418349,93.3,97.3,95.30
Wilson High School,5,Charter,2283,1319574,578.0,83.989488,83.274201,93.9,96.5,95.20
Wright High School,10,Charter,1800,1049400,583.0,83.955000,83.682222,93.3,96.6,94.95

In [25]:
top_five = final_school_df.sort_values('overall_pass',ascending=False).head()
top_five

,School ID,type,size,budget,per_stu,reading_score,math_score,math_%_pass,read_%_pass,overall_pass
school_name,,,,,,,,,,
Cabrera High School,6,Charter,1858,1081356,582.0,83.975780,83.061895,94.1,97.0,95.55
Thomas High School,14,Charter,1635,1043130,638.0,83.848930,83.418349,93.3,97.3,95.30
Griffin High School,4,Charter,1468,917500,625.0,83.816757,83.351499,93.4,97.1,95.25
Pena High School,9,Charter,962,585858,609.0,84.044699,83.839917,94.6,95.9,95.25
Wilson High School,5,Charter,2283,1319574,578.0,83.989488,83.274201,93.9,96.5,95.20

In [26]:
bottom_five = final_school_df.sort_values('overall_pass',ascending=False).tail()
bottom_five

,School ID,type,size,budget,per_stu,reading_score,math_score,math_%_pass,read_%_pass,overall_pass
school_name,,,,,,,,,,
Ford High School,13,District,2739,1763916,644.0,80.746258,77.102592,68.3,79.3,73.80
Johnson High School,12,District,4761,3094650,650.0,80.966394,77.072464,66.1,81.2,73.65
Huang High School,0,District,2917,1910635,655.0,81.182722,76.629414,65.7,81.3,73.50
Figueroa High School,1,District,2949,1884411,639.0,81.158020,76.711767,66.0,80.7,73.35
Rodriguez High School,11,District,3999,2547363,637.0,80.744686,76.842711,66.4,80.2,73.30

In [27]:
#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#So need multi-indexed dataframe
#Use all_data dataframe, group by school then grade then calculate mean of math_score

In [62]:
#all_data.head()
mean_by_grade = all_data.groupby(['school_name','grade'])['math_score'].mean()
#mean_by_grade.set_index(['school_name'])
mean_by_grade_df = pd.DataFrame(mean_by_grade)
#mean_by_grade_df.sort_index(axis=0,level=1,ascending=False)
#DataFrame.sort_index(axis=0, level=None, ascending=True, inplace=False, kind='quicksort', na_position='last', sort_remaining=True, by=None)
#mean_by_grade_df.index
#f.reindex_axis(list('FML'), axis=1, level=1)
#new_index = ['9th','10th','11th','12th']
#mean_by_grade_df.reindex(index=new_index, level=1)
#mean_by_grade_df.sort_index(level=1,ascending=False)
#mean_by_grade_df.sort_index(level=0,ascending=True)
#Can't seem to find a simple solution to re-ordering the 'grade' index so it shows as 9th,10th,11th,12th
#May need to simply reindex into integers and sort them that way

                             math_score
school_name           grade
Bailey High School    10th    76.996772
                      11th    77.515588
                      12th    76.492218
                      9th     77.083676
Cabrera High School   10th    83.154506
                      11th    82.765560
                      12th    83.277487
                      9th     83.094697
Figueroa High School  10th    76.539974
                      11th    76.884344
                      12th    77.151369
                      9th     76.403037
Ford High School      10th    77.672316
                      11th    76.918058
                      12th    76.179963
                      9th     77.361345
Griffin High School   10th    84.229064
                      11th    83.842105
                      12th    83.356164
                      9th     82.044010
Hernandez High School 10th    77.337408
                      11th    77.136029
                      12th    77.186567
                      9th     77.438495
Holden High School    10th    83.429825
                      11th    85.000000
                      12th    82.855422
                      9th     83.787402
Huang High School     10th    75.908735
                      11th    76.446602
                      12th    77.225641
                      9th     77.027251
Johnson High School   10th    76.691117
                      11th    77.491653
                      12th    76.863248
                      9th     77.187857
Pena High School      10th    83.372000
                      11th    84.328125
                      12th    84.121547
                      9th     83.625455
Rodriguez High School 10th    76.612500
                      11th    76.395626
                      12th    77.690748
                      9th     76.859966
Shelton High School   10th    82.917411
                      11th    83.383495
                      12th    83.778976
                      9th     83.420755
Thomas High School    10th    83.087886
                      11th    83.498795
                      12th    83.497041
                      9th     83.590022
Wilson High School    10th    83.724422
                      11th    83.195326
                      12th    83.035794
                      9th     83.085578
Wright High School    10th    84.010288
                      11th    83.836782
                      12th    83.644986
                      9th     83.264706

In [64]:
#reading by school and grade
read_by_grade = all_data.groupby(['school_name','grade'])['reading_score'].mean()
#mean_by_grade.set_index(['school_name'])
read_by_grade_df = pd.DataFrame(read_by_grade)
read_by_grade_df.head()

                           reading_score
school_name         grade
Bailey High School  10th       80.907183
                    11th       80.945643
                    12th       80.912451
                    9th        81.303155
Cabrera High School 10th       84.253219

In [66]:
# * Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
#   * Average Math Score
#   * Average Reading Score
#   * % Passing Math
#   * % Passing Reading
#   * Overall Passing Rate (Average of the above two)
final_school_df['per_stu'].describe()

count     15.000000
mean     620.066667
std       28.544368
min      578.000000
25%      591.500000
50%      628.000000
75%      641.500000
max      655.000000
Name: per_stu, dtype: float64

In [68]:
bins = [0,598,618,638,658]
spend_labels = ['Low','Low-Mid','Mid','High']
#df["Test Score Summary"] = pd.cut(df["Test Score"], bins, labels=group_names)
final_school_df['Spend Category'] = pd.cut(final_school_df['per_stu'],bins,labels=spend_labels)
final_school_df

,School ID,type,size,budget,per_stu,reading_score,math_score,math_%_pass,read_%_pass,overall_pass,Spend Category
school_name,,,,,,,,,,,
Bailey High School,7,District,4976,3124928,628.0,81.033963,77.048432,66.7,81.9,74.30,Mid
Cabrera High School,6,Charter,1858,1081356,582.0,83.975780,83.061895,94.1,97.0,95.55,Low
Figueroa High School,1,District,2949,1884411,639.0,81.158020,76.711767,66.0,80.7,73.35,High
Ford High School,13,District,2739,1763916,644.0,80.746258,77.102592,68.3,79.3,73.80,High
Griffin High School,4,Charter,1468,917500,625.0,83.816757,83.351499,93.4,97.1,95.25,Mid
Hernandez High School,3,District,4635,3022020,652.0,80.934412,77.289752,66.8,80.9,73.85,High
Holden High School,8,Charter,427,248087,581.0,83.814988,83.803279,92.5,96.3,94.40,Low
Huang High School,0,District,2917,1910635,655.0,81.182722,76.629414,65.7,81.3,73.50,High
Johnson High School,12,District,4761,3094650,650.0,80.966394,77.072464,66.1,81.2,73.65,High
Pena High School,9,Charter,962,585858,609.0,84.044699,83.839917,94.6,95.9,95.25,Low-Mid
Rodriguez High School,11,District,3999,2547363,637.0,80.744686,76.842711,66.4,80.2,73.30,Mid
Shelton High School,2,Charter,1761,1056600,600.0,83.725724,83.359455,93.9,95.9,94.90,Low-Mid
Thomas High School,14,Charter,1635,1043130,638.0,83.848930,83.418349,93.3,97.3,95.30,Mid
Wilson High School,5,Charter,2283,1319574,578.0,83.989488,83.274201,93.9,96.5,95.20,Low
Wright High School,10,Charter,1800,1049400,583.0,83.955000,83.682222,93.3,96.6,94.95,Low

In [69]:
#Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size (Small, Medium, Large).
final_school_df['size'].describe()

count      15.000000
mean     2611.333333
std      1420.915282
min       427.000000
25%      1698.000000
50%      2283.000000
75%      3474.000000
max      4976.000000
Name: size, dtype: float64

In [70]:
size_bins = [0,1700,3400,5100]
size_labels = ['small','medium','large']
final_school_df['Size Category'] = pd.cut(final_school_df['size'],size_bins,labels=size_labels)
final_school_df

,School ID,type,size,budget,per_stu,reading_score,math_score,math_%_pass,read_%_pass,overall_pass,Spend Category,Size Category
school_name,,,,,,,,,,,,
Bailey High School,7,District,4976,3124928,628.0,81.033963,77.048432,66.7,81.9,74.30,Mid,large
Cabrera High School,6,Charter,1858,1081356,582.0,83.975780,83.061895,94.1,97.0,95.55,Low,medium
Figueroa High School,1,District,2949,1884411,639.0,81.158020,76.711767,66.0,80.7,73.35,High,medium
Ford High School,13,District,2739,1763916,644.0,80.746258,77.102592,68.3,79.3,73.80,High,medium
Griffin High School,4,Charter,1468,917500,625.0,83.816757,83.351499,93.4,97.1,95.25,Mid,small
Hernandez High School,3,District,4635,3022020,652.0,80.934412,77.289752,66.8,80.9,73.85,High,large
Holden High School,8,Charter,427,248087,581.0,83.814988,83.803279,92.5,96.3,94.40,Low,small
Huang High School,0,District,2917,1910635,655.0,81.182722,76.629414,65.7,81.3,73.50,High,medium
Johnson High School,12,District,4761,3094650,650.0,80.966394,77.072464,66.1,81.2,73.65,High,large
Pena High School,9,Charter,962,585858,609.0,84.044699,83.839917,94.6,95.9,95.25,Low-Mid,small
Rodriguez High School,11,District,3999,2547363,637.0,80.744686,76.842711,66.4,80.2,73.30,Mid,large
Shelton High School,2,Charter,1761,1056600,600.0,83.725724,83.359455,93.9,95.9,94.90,Low-Mid,medium
Thomas High School,14,Charter,1635,1043130,638.0,83.848930,83.418349,93.3,97.3,95.30,Mid,small
Wilson High School,5,Charter,2283,1319574,578.0,83.989488,83.274201,93.9,96.5,95.20,Low,medium
Wright High School,10,Charter,1800,1049400,583.0,83.955000,83.682222,93.3,96.6,94.95,Low,medium

In [71]:
#Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).
by_type = final_school_df.groupby(['type'])
by_type