In [5]:
#Dependencies
import pandas as pd
import numpy as np
import os

In [6]:
#Source data files
school_data = os.path.join('.\Resources','schools_complete.csv')
student_data = os.path.join('.\Resources','students_complete.csv')

In [7]:
#Read in csv data
load_school = pd.read_csv(school_data)
load_student = pd.read_csv(student_data)

In [84]:
#Quick summary stats of school data set
school_describe = load_school.describe()
school_describe

       School ID         size        budget
count  15.000000    15.000000  1.500000e+01
mean    7.000000  2611.333333  1.643295e+06
std     4.472136  1420.915282  9.347763e+05
min     0.000000   427.000000  2.480870e+05
25%     3.500000  1698.000000  1.046265e+06
50%     7.000000  2283.000000  1.319574e+06
75%    10.500000  3474.000000  2.228999e+06
max    14.000000  4976.000000  3.124928e+06

In [88]:
#Total Schools
total_schools = int(school_describe.iloc[0,0])
#Total District Budget
total_budget = load_school['budget'].sum()

15

In [82]:
student_describe = load_student.describe()
student_describe

         Student ID  reading_score    math_score
count  39170.000000    39170.00000  39170.000000
mean   19584.500000       81.87784     78.985371
std    11307.549359       10.23958     12.309968
min        0.000000       63.00000     55.000000
25%     9792.250000       73.00000     69.000000
50%    19584.500000       82.00000     79.000000
75%    29376.750000       91.00000     89.000000
max    39169.000000       99.00000     99.000000

In [93]:
#Total number of students
total_students = int(student_describe.iloc[0,0])
#Average reading score
avg_reading = round(student_describe.iloc[1,1],1)
#Average math score
avg_math = round(student_describe.iloc[1,2],1)

79.0

In [94]:
#Percent passing reading
prcnt_pass_read = load_student.loc[load_student['reading_score'] >= 70,'student_name'].count()/total_students

print(f"{round(prcnt_pass_read,3)*100}%")

85.8%

In [15]:
#Percent passing reading
prcnt_pass_math = load_student.loc[load_student['math_score'] >= 70,'student_name'].count()/total_students

print(f"{round(prcnt_pass_math,3)*100}%")

75.0%

In [16]:
#Overall pass rate
overall = round(((prcnt_pass_read + prcnt_pass_math)/2)*100,1)
print(f"{overall}%")

80.4%

In [95]:
#District Summary Table
district_sum_headers = ['Total Schools','Total Students', 'Total Budget', 'Average Math Score','Average Reading Score','% Passing Math', '% Passing Reading','Overall Pass Rate']
district_data = [total_schools,total_students,total_budget,avg_math,avg_reading,prcnt_pass_math,prcnt_pass_read,overall]
district_summary = pd.DataFrame({'Metric':district_sum_headers,'Result':district_data})
district_summary

                  Metric        Result
0          Total Schools  1.500000e+01
1         Total Students  3.917000e+04
2           Total Budget  2.464943e+07
3     Average Math Score  7.900000e+01
4  Average Reading Score  8.190000e+01
5         % Passing Math  7.498085e-01
6      % Passing Reading  8.580546e-01
7      Overall Pass Rate  8.040000e+01

In [19]:
#Merge two data sets based on school_name column
all_data = load_student.merge(load_school,on='school_name',how='inner')
all_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [110]:
#Generate df of mean scores
school_sum_df = all_data.groupby('school_name').mean()
school_sum_df['per_stu'] = school_sum_df['budget']/school_sum_df['size']
school_sum_df.head()

,Student ID,reading_score,math_score,School ID,size,budget,per_stu
school_name,,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0,628.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0,582.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0,639.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0,644.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0,625.0

In [22]:
#Get percent passing reading and math

pass_df = all_data.groupby('school_name')[['reading_score','math_score']].apply(lambda x: (x >= 70).sum()).reset_index()
#df11=df.groupby('key1')['key2'].apply(lambda x: (x=='one').sum()).reset_index(name='count')
pass_df = pass_df.set_index(['school_name'])
pass_df['math_%_pass'] = round((pass_df['math_score']/final_df['size'])*100,1)
pass_df['read_%_pass'] = round((pass_df['reading_score']/final_df['size'])*100,1)   
pass_df

                       reading_score  math_score  math_%_pass  read_%_pass
school_name
Bailey High School              4077        3318         66.7         81.9
Cabrera High School             1803        1749         94.1         97.0
Figueroa High School            2381        1946         66.0         80.7
Ford High School                2172        1871         68.3         79.3
Griffin High School             1426        1371         93.4         97.1
Hernandez High School           3748        3094         66.8         80.9
Holden High School               411         395         92.5         96.3
Huang High School               2372        1916         65.7         81.3
Johnson High School             3867        3145         66.1         81.2
Pena High School                 923         910         94.6         95.9
Rodriguez High School           3208        2654         66.4         80.2
Shelton High School             1688        1653         93.9         95.9
Thomas High School              1591        1525         93.3         97.3
Wilson High School              2204        2143         93.9         96.5
Wright High School              1739        1680         93.3         96.6

In [140]:
#Select columns and create new df with only % passing columns
sub_prcnt_df = pass_df[['math_%_pass','read_%_pass']]
#Add % pass columns to schools summary
final_school_df = pd.concat([school_sum_df,sub_prcnt_df],axis=1,sort=True)

In [141]:
#Add overall passing based on % math and % read passing
final_school_df['overall_pass'] = (final_school_df['math_%_pass'] + final_school_df['read_%_pass'])/2
#Drop unwanted columns
final_school_df.drop(['School ID','Student ID'],axis=1, inplace=True)
final_school_df

,reading_score,math_score,size,budget,per_stu,math_%_pass,read_%_pass,overall_pass
school_name,,,,,,,,
Bailey High School,81.033963,77.048432,4976.0,3124928.0,628.0,66.7,81.9,74.30
Cabrera High School,83.975780,83.061895,1858.0,1081356.0,582.0,94.1,97.0,95.55
Figueroa High School,81.158020,76.711767,2949.0,1884411.0,639.0,66.0,80.7,73.35
Ford High School,80.746258,77.102592,2739.0,1763916.0,644.0,68.3,79.3,73.80
Griffin High School,83.816757,83.351499,1468.0,917500.0,625.0,93.4,97.1,95.25
Hernandez High School,80.934412,77.289752,4635.0,3022020.0,652.0,66.8,80.9,73.85
Holden High School,83.814988,83.803279,427.0,248087.0,581.0,92.5,96.3,94.40
Huang High School,81.182722,76.629414,2917.0,1910635.0,655.0,65.7,81.3,73.50
Johnson High School,80.966394,77.072464,4761.0,3094650.0,650.0,66.1,81.2,73.65
Pena High School,84.044699,83.839917,962.0,585858.0,609.0,94.6,95.9,95.25
Rodriguez High School,80.744686,76.842711,3999.0,2547363.0,637.0,66.4,80.2,73.30
Shelton High School,83.725724,83.359455,1761.0,1056600.0,600.0,93.9,95.9,94.90
Thomas High School,83.848930,83.418349,1635.0,1043130.0,638.0,93.3,97.3,95.30
Wilson High School,83.989488,83.274201,2283.0,1319574.0,578.0,93.9,96.5,95.20
Wright High School,83.955000,83.682222,1800.0,1049400.0,583.0,93.3,96.6,94.95

In [142]:
#Show top five schools sorted by overall passing percentage
top_five = final_school_df.sort_values('overall_pass',ascending=False).head()
top_five

,reading_score,math_score,size,budget,per_stu,math_%_pass,read_%_pass,overall_pass
school_name,,,,,,,,
Cabrera High School,83.975780,83.061895,1858.0,1081356.0,582.0,94.1,97.0,95.55
Thomas High School,83.848930,83.418349,1635.0,1043130.0,638.0,93.3,97.3,95.30
Griffin High School,83.816757,83.351499,1468.0,917500.0,625.0,93.4,97.1,95.25
Pena High School,84.044699,83.839917,962.0,585858.0,609.0,94.6,95.9,95.25
Wilson High School,83.989488,83.274201,2283.0,1319574.0,578.0,93.9,96.5,95.20

In [143]:
#Show bottom five schools sorted by overall passing percentage
bottom_five = final_school_df.sort_values('overall_pass',ascending=False).tail()
bottom_five

,reading_score,math_score,size,budget,per_stu,math_%_pass,read_%_pass,overall_pass
school_name,,,,,,,,
Ford High School,80.746258,77.102592,2739.0,1763916.0,644.0,68.3,79.3,73.80
Johnson High School,80.966394,77.072464,4761.0,3094650.0,650.0,66.1,81.2,73.65
Huang High School,81.182722,76.629414,2917.0,1910635.0,655.0,65.7,81.3,73.50
Figueroa High School,81.158020,76.711767,2949.0,1884411.0,639.0,66.0,80.7,73.35
Rodriguez High School,80.744686,76.842711,3999.0,2547363.0,637.0,66.4,80.2,73.30

In [133]:
#Table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#Replace the strings for grade level with integers so they can be sorted automatically
mean_by_grade = all_data.replace(['9th','10th','11th','12th'],[9,10,11,12])
#Group by school and grade and calculate mean math and reading score
mean_grade_summary = pd.pivot_table(mean_by_grade, values=['reading_score','math_score'], index=['school_name','grade'], aggfunc=np.mean)
mean_grade_summary

                             math_score  reading_score
school_name           grade
Bailey High School    9       77.083676      81.303155
                      10      76.996772      80.907183
                      11      77.515588      80.945643
                      12      76.492218      80.912451
Cabrera High School   9       83.094697      83.676136
                      10      83.154506      84.253219
                      11      82.765560      83.788382
                      12      83.277487      84.287958
Figueroa High School  9       76.403037      81.198598
                      10      76.539974      81.408912
                      11      76.884344      80.640339
                      12      77.151369      81.384863
Ford High School      9       77.361345      80.632653
                      10      77.672316      81.262712
                      11      76.918058      80.403642
                      12      76.179963      80.662338
Griffin High School   9       82.044010      83.369193
                      10      84.229064      83.706897
                      11      83.842105      84.288089
                      12      83.356164      84.013699
Hernandez High School 9       77.438495      80.866860
                      10      77.337408      80.660147
                      11      77.136029      81.396140
                      12      77.186567      80.857143
Holden High School    9       83.787402      83.677165
                      10      83.429825      83.324561
                      11      85.000000      83.815534
                      12      82.855422      84.698795
Huang High School     9       77.027251      81.290284
                      10      75.908735      81.512386
                      11      76.446602      81.417476
                      12      77.225641      80.305983
Johnson High School   9       77.187857      81.260714
                      10      76.691117      80.773431
                      11      77.491653      80.616027
                      12      76.863248      81.227564
Pena High School      9       83.625455      83.807273
                      10      83.372000      83.612000
                      11      84.328125      84.335938
                      12      84.121547      84.591160
Rodriguez High School 9       76.859966      80.993127
                      10      76.612500      80.629808
                      11      76.395626      80.864811
                      12      77.690748      80.376426
Shelton High School   9       83.420755      84.122642
                      10      82.917411      83.441964
                      11      83.383495      84.373786
                      12      83.778976      82.781671
Thomas High School    9       83.590022      83.728850
                      10      83.087886      84.254157
                      11      83.498795      83.585542
                      12      83.497041      83.831361
Wilson High School    9       83.085578      83.939778
                      10      83.724422      84.021452
                      11      83.195326      83.764608
                      12      83.035794      84.317673
Wright High School    9       83.264706      83.833333
                      10      84.010288      83.812757
                      11      83.836782      84.156322
                      12      83.644986      84.073171

In [144]:
#Summary statistics to help with deriving bins
final_school_df['per_stu'].describe()

count     15.000000
mean     620.066667
std       28.544368
min      578.000000
25%      591.500000
50%      628.000000
75%      641.500000
max      655.000000
Name: per_stu, dtype: float64

In [145]:
bins = [0,598,618,638,658]
spend_labels = ['Low','Low-Mid','Mid','High']
#df["Test Score Summary"] = pd.cut(df["Test Score"], bins, labels=group_names)
final_school_df['Spend Category'] = pd.cut(final_school_df['per_stu'],bins,labels=spend_labels)
by_spend_df = final_school_df.groupby(['Spend Category']).mean()
by_spend_df

,reading_score,math_score,size,budget,per_stu,math_%_pass,read_%_pass,overall_pass
Spend Category,,,,,,,,
Low,83.933814,83.455399,1592.0,924604.25,581.0,93.45,96.600,95.0250
Low-Mid,83.885211,83.599686,1361.5,821229.00,604.5,94.25,95.900,95.0750
Mid,82.361084,80.165248,3019.5,1908230.25,632.0,79.95,89.125,84.5375
High,80.997561,76.961198,3600.2,2335126.40,648.0,66.58,80.680,73.6300

In [69]:
#Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size (Small, Medium, Large).
final_school_df['size'].describe()

count      15.000000
mean     2611.333333
std      1420.915282
min       427.000000
25%      1698.000000
50%      2283.000000
75%      3474.000000
max      4976.000000
Name: size, dtype: float64

In [148]:
size_bins = [0,1700,3400,5100]
size_labels = ['small','medium','large']
final_school_df['Size Category'] = pd.cut(final_school_df['size'],size_bins,labels=size_labels)
by_size_df = final_school_df.groupby(['Size Category']).mean()
by_size_df

,reading_score,math_score,size,budget,per_stu,math_%_pass,read_%_pass,overall_pass
Size Category,,,,,,,,
small,83.881343,83.603261,1123.000000,6.986438e+05,613.250000,93.450000,96.650000,95.050000
medium,82.676142,80.545935,2329.571429,1.437985e+06,611.571429,82.171429,89.614286,85.892857
large,80.919864,77.063340,4592.750000,2.947240e+06,641.750000,66.500000,81.050000,73.775000

In [159]:
#Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).
#by_type = final_school_df.groupby(['type']).mean()
unique_schools_type = all_data.drop_duplicates(subset='school_name',keep='first').set_index('school_name').sort_values(['school_name'])['type']
final_school_df['Type'] = unique_schools_type

group_by_type = final_school_df.groupby(['Type']).mean()
group_by_type

,reading_score,math_score,size,budget,per_stu,math_%_pass,read_%_pass,overall_pass
Type,,,,,,,,
Charter,83.896421,83.473852,1524.250000,9.126881e+05,599.500000,93.625000,96.575000,95.100000
District,80.966636,76.956733,3853.714286,2.478275e+06,643.571429,66.571429,80.785714,73.678571